@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 217 33% 14%;
  --muted: 214 15% 95%;
  --muted-foreground: 214 10% 50%;
  --border: 214 10% 90%;
  --ring: 214 10% 65%;
}

body {
  @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] antialiased;
}
